@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url("./fonts/Helvetica/HelveticaNeue-01.ttf") format("truetype");
  font-weight: bolder;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
